.Dubai-ArticleHero{
    background-image:url(/Images/DubaiImages/DubaiHero.jpeg);
    height: 250px;
    width: 100%;
    text-align: center;
}
.Paris-ArticleHero{
    background-image:url(/Images/ParisImages/ParisHero.jpeg);
    height: 250px;
    width: 100%;
    text-align: center;
}
#Hero{
    background-image:url(/Images/DianiImages/DianiHero.jpeg);
    height: 300px;
    width: 100%;
    text-align: center;

}
#Part1{
    display: flex;
    width: 100%;
}
#Part2{
    display: flex;
    width: 100%;
}
#Part3{
    display: flex;
    width: 100%;
}
#Part4{
    display: flex;
    width: 100%;
}
#Part5{
    display: flex;
    width: 100%;
}
#Part6{
    display: flex;
    width: 100%;
}
.Comment{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 10px; 
}
button{
    background-color: black;
    color: white;
}
#BlogsHero{
    width: 100%;
    height: 75px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    
}
#DianiBest{
    /*height: 300px;*/
    width: 100%;
    display: flex;
    font-family: Cambria, Georgia;
}
#DianiBest img{
    border-radius: 32px;
}
#ParisBest{
    /*height: 300px;*/
    width: 100%;
    display: flex;
    padding-top: 16px;
    font-family: cambria,georgia;
}
#ParisBest img{
    border-radius: 32px;
    height: 400px;
    width: 400px;
}
#DubaiBest{
   /*height: 300px;*/
    width: 100%;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#DubaiBest img{
    border-radius: 32px;
}
h3{
    text-align: center;
    font-size: 32px;
    border-top: 2px solid #AC9A74;
}
@media only screen and (max-width:600px){
    #BlogsHero{
        font-size: 8px;
    }
    #DianiBest{
        display: grid;
        grid-template-columns: 1fr;  
    }
    #DianiBest #diani-reef{
        height: 250px;
    }
    #ParisBest{
        display: grid;
        grid-template-columns: 1fr;

    }
    #ParisBest #paris-bridge{
        height: 250px;
    }
    #DubaiBest{
        display: grid;
        grid-template-columns: 1fr;

    }
    #DubaiBest #dubai-islamic{
        height: 250px;
    }
    #Part1{
        display: grid;
        grid-template-columns: 1fr;
    }
    #Part2{
        display: grid;
        grid-template-columns: 1fr;
    }
    #Part1 #diani-body{
        height: 250px;
        border-radius: 32px;
    }
    #Part2 #diani-palms{
        height: 250px;
        border-radius: 32px;
    }
    #Part3{
        display: grid;
        grid-template-columns: 1fr;
    }
    #Part3 #luxury-hotels{
        height: 250px;
    }
    #Part4{
        display: grid;
        grid-template-columns: 1fr;
    }
    #Part4 #paris-arch{
        height: 250px;
    }
    #Part5{
        display: grid;
        grid-template-columns: 1fr;
    }
    #Part5 #dubai-arch{
        height: 250px;
    }
    #Part6 #arabian{
        height: 250px;
    }


}