.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    background-color: #ac9a747e;  
}
.main-content h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 64px;
    padding-top: 40px;
    color: black;
}
fieldset{
    border-radius: 24px;
    border: 3px solid black;
}
legend{
    padding: 5px 10px;
}
.main-content label{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    display: block;
}
.main-content input[type=text]{
    border-radius: 8px;
    border-color: #AC9A74;
    height: 32px;
    width: 200px;
}
.main-content input[type=text]:focus{
    border-color: #060606;
}
.main-content input[type=email]{
    border-radius: 8px;
    border-color: #AC9A74;
    height: 32px;
    width: 200px;
}
.main-content textarea{
    border-radius: 8px;
    border-color: #AC9A74;
    height: 32px;
    width: 80%;

}
.main-content button{
    background-color: rgba(0, 0, 0, 0.057);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
.main-content button:hover{
    background-color: #AC9A74;
    cursor: pointer;
}
@media only screen and (max-width:600px){
    .main-content{
        display: grid;
        grid-template-columns: 1fr;
    }
    .main-content h1{
        text-align: center;
    }
}
