*{
    margin: 8px;
}
body{
    background-color: #FBFBFB;
}
.nav-bar{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
   
}
.nav-bar .nav-bar-logo img{
    width: 100px;
    height: 100%;
    border-radius: 40px;
}
.nav-bar .nav-bar-links{
    display: flex;
    font-family: Tahoma,Verdana;
    font-weight: bold;
}
.nav-bar .nav-bar-links a{
    display: flex;
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 16px; 
}
.nav-bar .nav-bar-links a:hover{
    color: #AC9A74;
}
/*hero-section*/
.hero-section{
    width: 100%;
    height: 500px;
    background-image: url('../Images/hero-image.jpg');
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
}
.hero-section h1{
    padding-top: 40px;
    text-align: center;
    font-size: 64px;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
/*Recent-articles*/
.recent-articles{
    padding-top: 8px;
    padding-bottom: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.recent-articles img{
    width: 300px;
    height: 300px;
    border-radius: 40px;
}
/*Footer*/
.footer{
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #ac9a742f;
}
.footer img{
    border-radius: 40px;
}
.footer ul {
    list-style-type: none;
    font-size: 16px;
    font-weight: 200;
    border-left: 2px solid black;
}
.footer ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.footer ul li a:hover{
    color: #ac9a7464; 
}
.footer-sm{
    border-left: 2px solid black;
}
/*Media Query*/
@media only screen and (max-width:600px) {
    /*hero*/
    .hero-section{
        width: 100%;
        height: 250px;
    }
    /*Recent-articles*/
.recent-articles{
    grid-template-columns: 1fr;
}
.footer #site-logo{
    display: none;
}
.footer-sm img{
    width: 30px;
    height: 30px;
}
.footer ul {

    border-left: none
}

    
}
